#content {
    margin: 0 auto;
    width: 260px;
    height: 98px;
    display: block;
    border-radius: 5px;
    padding: 3px 5px;
    background: gold;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
}

#content span{
    float: left;
    width: 250px;
    height: 20px;
    margin: 2px 0;
    overflow: hidden;
}

#logout-btn {
    float: left;
    width: 80px;
    height: 25px;
    margin: 2px 0;
    overflow: hidden;
}
